 @keyframes first{
    from{width: 0;}
    to{width: 100%;}
    
}

@keyframes secon{
    from{width: 0; }
    to{width: 100%; }
} 



header{
    height: 800px;
    background-color: #000;
    animation-name: first;
    animation-duration: 0.6s;
    
}
.hwrap{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
    
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    font-size: 52px; 
    text-align: center; 
}

.topT{
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    color: #707070;


}
.topT span{
    content:'';
    width: 100%;
    height: 2px;
    background-color: #707070;
    position: absolute;
    bottom: 4px;
    left: -99%;
    animation-name: secon;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
}
.lowT{
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    text-align: right;
}
.lowT span{
    display: block;
    content:'';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 4px;
    right: -99.7%;

    animation-name: secon;
    animation-duration: 0.8s;
    animation-delay: 0.8s;
}
/*  */
.kword{
    font-size: 14px;
    color: #fff;
    margin-top: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between
    
}
/* 첫페이지 끝  */


.Txts1{ text-align: right;}
.Txts1 h3{ font-size: 20px;}
.Txts1 span{font-weight: bold;}
.Txts1 p{margin-top: 16px;}
/*  */

.s1con{margin-top: 32px;}
.s1profil1{display: flex;}
.s1profil1 .pic{
    border: 2px dotted #000;
    padding: 8px;
    box-sizing: border-box;
    width: 30%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.s1profil1 p{font-family: 'Impact'; font-size: 32px; }
.s1profil1 p:nth-child(1){font-size: 52px; font-weight: bold; margin-bottom: 24px;}
.s1profil1 p:nth-child(2){margin-left: auto;}


.s1profil1 .text{margin-top: auto;}

.s1profil2{margin-top: 32px;}
.s1profil2>ul>li{
    margin-bottom: 24px;
    display: flex;
}
.s1profil2 .txt{width: 27%;}
.s1 .txt{
    font-size: 16px;
    font-weight: bold;
}
.s1profil2 .sub li{margin-bottom: 8px;}
.s1profil2 .sub li:last-child{margin-bottom: 0;}
.s1profil3 .txt{margin-bottom: 16px;}

.s1profil3 .sub{display: flex; flex-wrap: wrap;}
.s1profil3 .sub li{margin-right: 20px; margin-bottom: 8px;}
.s1profil3 .sub li:last-child{margin-right: 0;}

/* 소개페이지 끝 */


.s2con .box{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.s2con .box .num{
    width: 50px;
    font-size: 32px;
    text-align: center;
}
.s2con .box .s2pic{width: calc(100% - 50px)}
.s2con .box .photo{width: 100%;}
.s2con .s2txt{
    margin-top: 16px;
    color: #707070;
}
.s2con .s2txt .first{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 16px;
    color: #121212;
}
.s2con .s2txt li{margin-bottom: 8px; font-size: 12px;}
.s2con .s2txt li:last-child{margin-bottom: 0;}

/*인트로 끝  */

aside .iconpc{display: none;}
aside{
    display: none;
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
aside ul{
    display: flex;
    text-align: center;
    padding: 20px 0;
    align-items: center;

}
aside li{
    width: calc(100% / 5);
    border-right: 1px solid #fff; 
    cursor: pointer;
    transition: all 0.4s;
}
aside li:last-child{border: 0;}

aside li:hover p, aside li:hover img {
    transform: scale(1.5);
    transition: all 0.4s;
}

aside li img{width: 24px;}
aside li:nth-child(1) img{width: 21px;}
aside li:nth-child(3) img{width: 28px;}
aside li:nth-child(5) img{width: 22px;}

/*  */
.main{
    height: 500px;
    display: flex;
    align-items: center;
    
}
.maincon{
    display: flex;
    margin: 0 20px;
}

.maincon .num{
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}
.txtbox{
    margin-left: 20px;
    margin-top: 50px;
}
.txtbox .mtitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 57px;
    margin-bottom: 24px;
}
.txtbox .subT{
    font-size: 16px;
    margin-bottom: 16px;
}
.skybaymain .txtbox .mtitle{color: #fff;}
.skybaymain{background-color: #003377;}
.skybaymain .maincon .num{color: #76c1ff;}
.skybaymain .txtbox{color: #dbdbdb;}
.skybaymain .txtbox .subT{color: #76c1ff;}


/* 메인페이지표지 끝 */


.submain .overtxt{
    margin-top: 16px;
    margin-bottom: 32px;
}
.submain .keyword{margin-bottom: 32px;}
.submain .keyword li{display: flex; margin-bottom: 8px;}
.submain .keyword li:last-child{margin-bottom: 0;}
.submain .keyword li span{
    display: block;
    width: 20%;
}

.webpic{box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);}

/* 오버뷰 끝 */
.F2{margin-top: 80px;}
.F2con{margin-top: 32px;}
.Lbottom, .tobe, .Rtop, .Rbttom{margin-top: 32px;}

.Rtop .topcon p{
    margin-bottom: 8px;
    display: flex;
}
.Rtop .topcon p:last-child{margin-bottom: 0;}
.Rtop .topcon span{width: 25%;}

.Mcolor, .Scolor{display: flex; font-size: 12px;}
.Mcolor li, .Scolor li{
    height: 50px;
    box-sizing: border-box;
    padding: 8px;
}
.Mcolor li{width: 33.333%;}
.Scolor{margin-top: 16px; flex-wrap: wrap;}
.Scolor li{min-width: 68px; width: calc(100% / 4);}


.sky .Mcolor li:nth-child(1){background-color: #003377; color: #fff;}
.sky .Mcolor li:nth-child(2){background-color: #76c1ff;}
.sky .Mcolor li:nth-child(3){background-color: #FFA805;}

.sky .Scolor li:nth-child(1){background-color: #121212; color: #fff;}
.sky .Scolor li:nth-child(2){background-color: #767676;}
.sky .Scolor li:nth-child(3){background-color: #DBDBDB;}
.sky .Scolor li:nth-child(4){background-color: #eee; }
.sky .Scolor li:nth-child(5){background-color: #F1F1F5;}
.sky .Scolor li:nth-child(6){background-color: #fff; border: 1px solid #F1F1F5;}
/* 컨셉 끝 */

.site{
    color: #fff;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 80px auto 0 auto;
    transition: all 0.3s;
}
.site a{display: block; width: 100%;}

.skybtn{background-color: #003377;}
.skybtn:hover{background-color: #76c1ff;transition: all 0.3s;}



/* 네이쳐하이크 */
.natuermain{background-color: #1F1C1A;}
.natuermain .maincon .num{color: #E10B2A}
.natuermain .txtbox .mtitle{color: #fff;}
.natuermain .txtbox .subT{color: #E10B2A}
.natuermain .txtbox{color: #707070;}

/*  */

.natuer .Mcolor li:nth-child(1){background-color: #E10B2A; color: #fff;}
.natuer .Mcolor li:nth-child(2){background-color: #124C33; color: #fff;}
.natuer .Mcolor li:nth-child(3){background-color: #1F1C1A; color: #fff;}

.natuer .Scolor li:nth-child(1){background-color: #121212; color: #fff;}
.natuer .Scolor li:nth-child(2){background-color: #767676;}
.natuer .Scolor li:nth-child(3){background-color: #DCDCDC;}
.natuer .Scolor li:nth-child(4){background-color: #f5f5f5; }
.natuer .Scolor li:nth-child(5){background-color: #F1F1F5;}
.natuer .Scolor li:nth-child(6){background-color: #fff; border: 1px solid #F1F1F5;}

.natuerbtn{background-color: #1F1C1A;}
.natuerbtn:hover{background-color: #E10B2A;transition: all 0.3s;}




/* 요기요 */
.yogiyomain{background-color: #F5F5F5;}
.yogiyomain .maincon .num{color: #FA0050}
.yogiyomain .txtbox .mtitle{color: #121212;}
.yogiyomain .txtbox .subT{color: #FA0050}
.yogiyomain.txtbox{color: #707070;}
/*  */

.yogiyo .Mcolor li:nth-child(1){background-color: #FA0050; color: #fff;}
.yogiyo .Mcolor li:nth-child(2){background-color: #FCE3EE; }
.yogiyo .Mcolor li:nth-child(3){background-color: #B7D9F3; }

.yogiyo .Scolor li:nth-child(1){background-color: #121212; color: #fff;}
.yogiyo .Scolor li:nth-child(2){background-color: #767676;}
.yogiyo .Scolor li:nth-child(3){background-color: #D8D6D7;}
.yogiyo .Scolor li:nth-child(4){background-color: #B3B3B3; }
.yogiyo .Scolor li:nth-child(5){background-color: #F5F5F5;}
.yogiyo .Scolor li:nth-child(6){background-color: #fff; border: 1px solid #F1F1F5;}

.yogiyobtn{background-color: #F5F5F5; color: #FA0050;}
.yogiyobtn:hover{background-color: #FA0050;color: #fff; transition: all 0.3s;}


/*마지막 */

footer{
    margin-top: 40px;
    background-color: #000;
    color: #fff;
}
.fWrap{
    height: 800px; 
    position: relative; 
}
.ftitle{
    text-align: center;
    font-size: 52px;

    position: absolute;
    width: calc(100% - 80px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.contact{
    font-size: 14px;
    margin-top: 80px;
}
.contact p:nth-child(2){margin-top: 10px;}