@media all and (min-width:760px){
  .hwrap, .fWrap{padding: 0 40px;}
  .sWrap{padding: 40px;}
  h1, .ftitle{font-size: 82px;}
  .title{font-size: 16px;}
 
  /* 첫페이지끝 */

  .s1con{
    display: flex;
    justify-content: space-between;
  }

  .s1profil1{display: block; width: 28%;}
  .s1profil1 .pic{
    width: 80%;
    margin-right:0;
  }
  .s1profil1 p{font-size: 42px; }
  .s1profil1 p:nth-child(1){font-size: 62px;}
  .s1profil1 .text{margin-top: 16px;}

  .textcon{width: 70%;}
  .s1profil2{margin-top: 0;}

  .s1profil3{display: flex;}
  .s1profil3 .txt{width: 27%; margin-bottom: 0;}

  /* 소개페이지 끝 */

  .s2con{
    display: flex;
    width: 95%;
    margin: 0 auto;
  }
  .s2con .box{margin-right: 2%;}
  .s2con .box:last-child{margin-right: 0;}

  /* 인트로끝 */

  aside .iconpc{display: block;}
  aside .iconmo{display: none;}

  .maincon .num{font-size: 38px;}
  .txtbox .mtitle{font-size: 66px;}

  .maincon{
    width: calc((100% - 20px) /2);
    margin-left: auto;
  }

  /* 메인페이지 끝 */
  
  .F1wrap{display: flex; justify-content: space-between;}
  
  .submain .box{
    width: calc((100% - 24px) /2);
    display: flex;
    flex-direction: column;
  }
  
  .submain .box .keyword{
    margin-top: auto;
    margin-bottom: 0;
  }
  .submain .web{width: calc((100% - 24px) /2); margin-left: auto;}
  

  /* 오버뷰 끝 */

  .Lbottom, .cright{display: flex; justify-content: space-between;}
  .asis{width: calc((100% - 24px) /2);}
  .tobe{margin-top: 0; width: calc((100% - 24px) /2);}

  .Rtop{width: calc((100% - 24px) /2);}
  .Rbttom{width: calc((100% - 24px) /2);}


  /* 컨셉 끝 */

 




  





}



@media all and (min-width:1024px){
  h1{font-size: 124px;}

  .Txts1 h3{ font-size: 28px;}
  /*  */
  .textcon{
    display: flex;
    width: 100%;
    align-items: center;
  }
  .s1profil2{width: 40%;}
  .s1profil2>ul>li:last-child{margin-bottom: 0;}
  .s1profil3{width: 60%; margin-top: auto;}
  .s1profil3 .txt{width: 20%;}

  /*소개페이지 끝  */


  .maincon{
    width: calc((100% - 40px) /2);
    margin-left: auto;
    margin-right: 40px;
  }
  .maincon .num{font-size: 46px;}
  .txtbox .mtitle{font-size: 90px;}

  /* 메인페이지 끝 */
  
  .users ul{flex-wrap: wrap; display: flex; justify-content: space-between;}
  .users ul li{width: calc((100% - 24px) /2);}
  .users ul li:nth-child(3){margin-bottom: 0;}

  /*  */

  .Scolor li{width: calc(100% / 6);}
  /* 컬러 */
  
}

@media all and (min-width:1280px){
  .Ltop{width: calc((100% - 24px) /2);}
}
